<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="top">

    <!-- CSS -->
    <link th:href="@{/css/top.css}" rel="stylesheet" />

    <!-- Header -->
    <header class="top-header">
        <h1>티켓팅 사이트 ver 1.0</h1>
    </header>

    <!-- Navigation -->
    <nav class="top-nav">
        &emsp;&emsp;&emsp;
        <a th:href="@{/main.do}">홈으로</a>&emsp;
        
        <!-- 로그아웃 상태일 때 -->
        <!-- <sec:authorize access="isAnonymous()"> -->        
        <th:block th:if="${session.user == null}">
    	    <a th:href="@{/user/join.do}">회원가입</a>&emsp;
		    <a th:href="@{/user/login.do}">로그인</a>
		</th:block>
		
		<!-- 로그인 했을 때 -->
        <!-- <sec:authorize access="isAuthenticated()"> -->        
		<th:block th:if="${session.user != null}">
			<a th:href="@{/user/mypage.do}">마이페이지</a>&emsp;
			<span class="user-info">
    		<strong>[[${session.user.name}]]</strong>님
    		<a th:href="@{/user/logout.do}" class="logout-link">로그아웃</a>
    </span>
		</th:block>
		<a th:href="@{/admin/insertPage.do}">공연등록</a>&emsp;

               
     &emsp;
    <span th:if="${session.role == 'ROLE_ADMIN'}">
      <a th:href="@{/admin/main.do}">관리자영역</a>&emsp;
    </span> 
    

    

    
    </nav>

</div>
