<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="top">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    
    <!-- CSS -->
    <link th:href="@{/css/top.css}" rel="stylesheet" />
	
    <!-- Header -->
    <header class="top-header">
        <h1>티켓팅 사이트 ver 1.0</h1>
    </header>

    <!-- Navigation -->
    <nav class="top-nav">
    	<div class="nav-left">
        <a th:href="@{/main.do}">홈으로</a>
        <!-- 관리자 영역 -->
		<div sec:authorize="hasRole('ROLE_ADMIN')">
			<a th:href="@{/admin/insertPage.do}">공연등록</a>			
    	</div>
    	<a th:href="@{/admin/listPage.do}">공연목록</a>
    	</div>
    
		<div class="nav-right">		
		
        <!-- 로그아웃 상태일 때 -->
        <div sec:authorize="isAnonymous() or hasRole('ROLE_GUEST')">              
    	    <a th:href="@{/user/join.do}">회원가입</a>
		    <a th:href="@{/user/login.do}">로그인</a>
		</div>
		
		<!-- 로그인 했을 때 -->
        <div sec:authorize="hasRole('ROLE_USER') or hasRole('ROLE_ADMIN')">
			<a th:href="@{/user/mypage.do}">마이페이지</a>
		    <span class="user-info-text" th:text="${#authentication.principal?.user?.name ?: #authentication.name} + '님'">이름</span>
    		<a th:href="@{/user/logout.do}" class="logout-link">로그아웃</a>
		</div>
		
		<a href="javascript:void(0)" class="search-trigger" onclick="toggleSearch(true)">
            <i class="fas fa-search"></i>
        </a>
        </div>
    </nav>
    <div id="searchDim" class="search-dim" onclick="toggleSearch(false)"></div>
	<div id="searchOverlay" class="search-overlay">
        <div class="search-inner">
            <button type="button" class="search-close-btn" onclick="toggleSearch(false)">&times;</button>
            
            <div class="search-form-container">
            	<form th:action="@{/search/list.do}" method="get">
                <div class="search-input-wrapper">
                    <input type="text" name="keyword" id="keyword" placeholder="검색어를 입력하세요." autocomplete="off">
                    <button type="submit" class="search-btn">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                </form>
            </div>
        </div>
    </div>

<script th:inline="javascript">

document.querySelector('.search-form-container form').onsubmit = function() {
    const val = document.getElementById('keyword').value.trim();
    if (val === "") {
        alert("검색어를 입력해주세요.");
        return false; // 전송 중단
    }
};

function toggleSearch(isOpen) {
    const overlay = document.getElementById('searchOverlay');
    const dim = document.getElementById('searchDim');
    
    if (isOpen) {
        overlay.classList.add('active');
        if(dim) dim.classList.add('active'); // 배경 어둡게
        setTimeout(() => document.getElementById('keyword').focus(), 400);
    } else {
        overlay.classList.remove('active');
        if(dim) dim.classList.remove('active'); // 배경 밝게
    }
}
</script>


</div>

