<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/user/login.css}">
<body>
<div th:replace="include/top::top"></div>
<section>
<div class="login-wrapper" style="text-align: center;">
    <div class="login-container"
    	style="display: inline-block; text-align: left; width: 100%; max-width: 500px;">
        <h1>로그인</h1>
        
        <form th:action="@{/user/loginOK.do}" method="post">
            <table class="login-table">
                <tr>
                    <td>아이디(이메일)</td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="userId" placeholder="이메일을 입력하세요" required />
                    </td>
                </tr>
                <tr>
                    <td>비밀번호</td>
                </tr>
                <tr>
                    <td> 
                        <input type="password" name="password" placeholder="비밀번호를 입력하세요" required />
                    </td>
                </tr>
                
                <tr th:if="${param.error != null and param.exception == null}">
                    <td class="error-msg">
                        아이디 또는 비밀번호가 일치하지 않습니다.
                    </td>
                </tr>

                <tr>
                    <td>
                        <button type="submit" class="btn-login">로그인</button>
                    </td>
                </tr>
            </table>
        </form>

        <div class="divider-container">
            <hr class="divider">
            <span>또는</span>
        </div>

        <div class="social-login-buttons">
            <a th:href="@{/oauth2/authorization/google}" class="btn-google">
                구글 계정으로 로그인
            </a>
            
            <a th:href="@{/oauth2/authorization/naver}" class="btn-naver">
                네이버 계정으로 로그인
            </a>
            
            <a th:href="@{/oauth2/authorization/kakao}" class="btn-kakao">
                카카오 계정으로 로그인
            </a>
        </div>

        <div class="join-guide">
            <span>아직 회원이 아니신가요?</span>
            <button type="button" class="btn-join" 
                    th:onclick="|location.href='@{/user/join.do}'|">회원가입</button>
        </div>
    </div>
</div>
</section>
<script th:inline="javascript">

/*<![CDATA[*/
const message = /*[[${msg}]]*/ null;
if (message) {
    alert(message);
}
/*]]>*/

window.onload = function() {
    const urlParams = new URLSearchParams(window.location.search);
    
    // 1. 로그인 실패 시
    let errorMsg = urlParams.get('exception');
    if (errorMsg) {
        alert(decodeURIComponent(errorMsg.replace(/\+/g, ' ')));
        window.history.replaceState({}, document.title, window.location.pathname);
    }

    // 2. 회원탈퇴 완료 시
    let status = urlParams.get('status');
    if (status === 'withdrawn') {
        alert("회원 탈퇴가 정상적으로 처리되었습니다.");
        window.history.replaceState({}, document.title, window.location.pathname);
    }
}
</script>
<div th:replace="include/bottom::footer"></div>
</body>
</html>